<div class="text-center just-paging">
    <mat-select class="just-select" [(ngModel)]="pageSize" (selectionChange)="onSelectedChange($event)">
        <mat-option *ngFor="let item of model" [value]="item">
            {{item}}
        </mat-option>
    </mat-select> &nbsp;
    <mat-label>{{'Page' | translate}} {{pageNumber}} </mat-label>
    <button mat-raised-button color="primary" (click)="previousPage()" [disabled]="disablePrev">{{'Previous' | translate}}</button> &nbsp;
    <button mat-raised-button color="primary" (click)="nextPage()" [disabled]="disableNext">{{'Next' | translate}}</button>
</div>